<div class="Main-container">
    <app-store-titel></app-store-titel>
    <app-header class="app-header"></app-header>
    <div style="background-color: #126091; border-radius: 20px; display: flex; flex-direction:column; justify-content: center; align-items: center; width: 60%;">
        
        <h1 style="color: antiquewhite;">Welcome to About page</h1>
        <p style="color: antiquewhite; width: 60%;">
            Our game store is your one-stop destination for all your gaming needs. 
            Whether you're a casual gamer or a hardcore enthusiast, we have something for everyone.
            Explore our wide selection of games, consoles, and accessories.
            Enjoy a seamless shopping experience and stay up-to-date with the latest gaming trends.
            We're passionate about gaming, and we're here to bring you the best gaming experience.
        </p>
        <a style="text-decoration: underline; color: white;" href="http://localhost:1000/game_objects"><h1>> Games API <</h1></a>
    </div>
</div>

